.titulo {
  font-size: 30px;
  text-align: center;
  padding: 15px 0 20px 0;
  margin: 80px auto 15px auto;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 10px auto 15px auto;
}

main {
  width: 70%;
  height: 100%;
  padding: 10px;
  margin: 10px auto 50px auto;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 5px 10px 5px 10px var(--dark2);
}

.container {
  width: 85%;
  max-height: 450px;
  padding: 10px;
  margin: 15px auto;
  background-color: var(--secondary);
  border-radius: 10px;
}

.beginning {
  font-size: 22px;
  text-align: center;
  padding: 5px;
  margin: 5px 8px;
}

.data {
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 5px 8px;
}

.data label {
  font-size: 18px;
  font-weight: bolder;
}

.email,
.pass,
.signin,
.names {
  text-align: center;
  padding: 5px;
  margin: auto;
}

.mail {
  width: 250px;
  margin-left: 49px;
  border-radius: 5px;
  height: 22px;
}

.password {
  min-width: 250px;
  margin-left: 10px;
  border-radius: 5px;
  height: 22px;
}

.sign-in-tex {
  font-size: 18px;
  font-weight: bold;
  margin: 5px auto 5px auto;
  width: 200px;
  background-color: var(--third);
  text-align: center;
  color: var(--light2);
  padding: 3px;
  border-radius: 10px;
}

.recorda {
  text-align: center;
  margin-top: 20px;
}

h6 {
  margin: 5px 0 5px 0;
  font-size: 14px;
  color: var(--dark);
  text-align: center;
  padding: 5px;
}

.olvido-password,
.dont-have a {
  color: var(--light2);
}

footer{
  display: none;
}