<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/home.css">

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="/info">Info</a></li>
                <li><a href="/rules">Reglamento</a></li>
            </ul>
        </nav>
        <nav class="user">
            <a href="/user/login"><i class="fas fa-user"></a></i>
            <ul>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> Torneo ex Alumnos Santa Teresita</h1>
    <h2>90ยบ Aniversario</h2>

    <section class="principal">
        <div class="tarjeta"><a href="/data/posiciones">Posiciones</a></div>
        <div class="tarjeta"><a href="/data/fixture">Fixture</a></div>
        <div class="tarjeta"><a href="/data/planteles">Planteles</a></div>
        <div class="tarjeta"><a href="/data/fairplay">Fair play</a></div>
        <div class="tarjeta"><a href="/data/estadisticas">Estadisticas</a></div>
    </section>

    <footer>Copyright LM5</footer>
</body>

</html>