<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo de Futbol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="#">Info</a></li>
                <li><a href="#">Reglamento</a></li>
            </ul>
        </nav>
        <nav class="user">
            <a href="/login"><i class="fas fa-user"></a></i>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> Torneo ex Alumnos Santa Teresita</h1>
    <h2>90º Aniversario</h2>

    <section class="principal">
        <div class="tarjeta">Posiciones</div>
        <div class="tarjeta">Fixture</div>
        <div class="tarjeta">Planteles</div>
        <div class="tarjeta">Fair play</div>
        <div class="tarjeta">Estadisticas</div>
    </section>
</body>

</html>