<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo de Futbol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="/info">Info</a></li>
                <li><a href="/rules">Reglamento</a></li>
            </ul>
        </nav>
        <nav class="user">
            <a href="/user/login"><i class="fas fa-user"></a></i>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> Torneo ex Alumnos Santa Teresita</h1>
    <h2>90º Aniversario</h2>
    <main>
        <div class="container">
            <section class="form-register">
                <h4>Completa tus datos</h4>
                <main>
                    <section>
                        <form action="/register" method="POST" class="formregister" enctype="multipart/form-data">
                            <label> Nombre y Apellido</label>
                            <input type="text" name="name" required placeholder="Nombre y apellido">
                            <label>Email</label>
                            <input type="email" name="email" required placeholder="Email">
                            <label>Contraseña</label>
                            <input type="password" name="password" required placeholder="Contraseña">
                            <label>Confirmar contraseña</label>
                            <input type="password" name="repassword" required placeholder="Confirmar Contraseña">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" name="birth" required>
                            <label>Seleccione Avatar</label>
                            <input type="file" name="image">
                            <p><a href='/login'>¿Ya tenés una cuenta? Iniciá sesión</a></p>
                            <button type="submit">Crear cuenta</button>
                        </form>
                    </section>
                </main>
            </section>
    </main>
    <footer>
        <h6>Copyright LM5</h6>
    </footer>
</body>

</html>