<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<link rel="stylesheet" href="css/rules.css">

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="/info">Info</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <nav class="user">
            <a href="/user/login"><i class="fas fa-user"></a></i>
            <ul>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> REGLAMENTO TORNEO EXALUMNOS 2022</h1>
    <h2>"90° ANIVERSARIO DEL SANTA TERESITA"</h2>
    <div class="options">
        <ul>
            <li><a href="#infractions">Infracciones</a></li>
            <li><a href="#sanctions">Sanciones</a></li>
            <li><a href="#serving">Saque de banda</a></li>
            <li><a href="#other-points">Otros Puntos</a></li>
        </ul>
    </div>
    <main>
        <section class="time">
            <h5>DURACIÓN DEL PARTIDO </h5>
            <ul>
                <li>1. Los partidos tendrán una duración total de 40'.</li>
                <li>2. Estarán divididos en 2 tiempos de 20´ cada uno.</li>
                <li>3. Entre cada tiempo habrá un descanso de 5´.</li>
            </ul>
        </section>
        <section class="inicio-game">
            <h5>INICIO Y REANUDACIÓN DEL JUEGO </h5>
            <h6>SAQUE DE SALIDA</h6>
            <div>
                <ul>
                    <li>1. No se podrá marcar un gol del saque del medio.</li>
                    <li>2. Todos los jugadores se deberán encontrar en su mitad de campo.</li>
                    <li>3. Se deberá mantener una distancia de 3 mts para dejar jugar el balón.</li>
                    <li>4. El árbitro dará la señal para jugar.</li>
                    <li>5. Se deberá jugar hacia atrás.</li>
                    <li>6. Lo puede realizar un solo jugador.</li>
                </ul>
            </div>
        </section>
        <section class="infractions-game">
            <h5 id="infractions">INFRACCIONES Y SANCIONES</h5>
            <ul>
                <li>1. Cada equipo tendrá por tiempo 4 faltas acumulables que se renovaran en la segunda mitad.
                </li>
                <li> 2. A partir de la 5ta falta en adelante se cobrará tiro penal castigo. (Conocido
                    habitualmente como "6ta
                    falta"), a 9 mts.</li>

                <div>
                    <li>3. Faltas sancionadas con tiro libre DIRECTO (ACUMULABLES)</li>
                    <ul>
                        <li>Dar o intentar dar una patada a un adversario</li>
                        <li>Poner una zancadilla a un adversario</li>
                        <li>Saltar sobre un adversario</li>
                        <li>Cargar sobre un adversario</li>
                        <li>Golpear o intentar golpear a un adversario</li>
                        <li>Empujar a un adversario</li>
                        <li>Realizar una entrada contra un adversario</li>
                        <li>Sujetar a un adversario</li>
                        <li>Escupir a un adversario</li>
                        <li>Tocar el balón deliberadamente con las manos (se exceptúa al guardameta
                            dentro de su propia área penal)</li>
                    </ul>
                </div>
                <li> 4. Faltas sancionadas con tiro libre INDIRECTO (NO ACUMULABLES)</li>
            </ul>
            <h5>PARA EL ARQUERO:</h5>
            <div>
                <ul>
                    <li>Controlar el balón con las manos o los pies en su propia mitad de la superficie de juego
                        durante más
                        de cuatro segundos</li>
                    <li>Tras jugar el balón, lo vuelve a tocar en su propia mitad de la superficie de
                        juego tras el pase voluntario de un compañero, sin que el balón haya sido
                        jugado o tocado por un adversario o el balón haya pasado la mitad de cancha.</li>
                    <li>Tocar el balón con las manos en su propia área penal después de que un
                        jugador de su equipo se lo haya cedido con el pie.</li>
                    <li>Toca el balón con las manos en su propia área penal después de haberlo
                        recibido directamente de un saque de banda lanzado por un compañero.</li>
                </ul>

                <h6>EN GENERAL:</h6>
                <ul>
                    <li>Jugar de forma peligrosa ante un adversario</li>
                    <li>Obstaculizar el avance de un adversario</li>
                    <li>Impedir que el guardameta pueda soltar el balón de sus manos</li>
                </ul>
            </div>
        </section>
        <section class="sanctions-game">
            <h5 id="sanctions">SANCIONES </h5>
            <div>
                <h6>Un jugador será amonestado si comete una de las siguientes siete infracciones:</h6>
                <ul>
                    <li>Ser culpable de conducta antideportiva</li>
                    <li>Desaprobar con palabras o acciones</li>
                    <li>Infringir persistentemente las Reglas de Juego del Futsal</li>
                    <li>Retardar la reanudación del juego</li>
                    <li>No respetar la distancia reglamentaria en un saque de esquina, un tiro libre
                        o un saque de banda (jugadores defensores) 3mts.</li>
                    <li>Entrar o volver a entrar en la superficie de juego sin el permiso de los árbitros, o
                        contravenir el
                        procedimiento de sustitución</li>
                    <li>Abandonar deliberadamente la superficie de juego sin el permiso de los
                        árbitros</li>
                </ul>

                <h6>Un jugador o un sustituto será expulsado si comete una de las siguientes siete infracciones:</h6>
                <ul>
                    <li>Ser culpable de juego brusco grave</li>
                    <li>Ser culpable de conducta violenta</li>
                    <li>Escupir a un adversario o a cualquier otra persona</li>
                    <li>Impedir con mano intencionada un gol o malograr una oportunidad manifiesta de gol (esto no es
                        válido
                        para el guardameta dentro de su propia área penal)</li>
                    <li>Malograr la oportunidad manifiesta de gol de un adversario que se dirige hacia la meta del
                        jugador
                        mediante una infracción sancionable con un tiro libre o un tiro penal</li>
                    <li>Emplear lenguaje ofensivo, grosero u obsceno y/o gestos de la misma naturaleza</li>
                    <li>Recibir una segunda amonestación en el mismo partido (AZUL - Cambio inmediato.)</li>
                </ul>
            </div>
        </section>
        <section class="serving">
            <h5 id="serving">SAQUE DE BANDA</h5>
            <div>
                <ul>
                    <li>1. En el saque de banda, el balón deberá estar apoyado inmóvil sobre la línea de saque</li>
                    <li>2. No se podrá tomar carrera</li>
                    <li>3. Si se realiza el saque y el balón esta en movimiento o no se encuentra sobre la línea se
                        cobrara MAL
                        SACADO y repondrá el equipo rival desde el mismo lugar.</li>
                </ul>
            </div>

            <h6>EL ARQUERO</h6>
            <div>
                <ul>
                    <li>El saque de arco (cuando la pelota se va fuera de la línea de meta) tiene que ser obligatorio
                        con la
                        mano y podrá pasar la línea de mitad de cancha.</li>
                    <li>Los jugadores de campo PUEDEN recibir el balón dentro de su misma área, de su arquero.</li>
                    <div>
                        <li>En el saque de arco cuando la pelota está en juego el arquero podrá:</li>
                        <ul>
                            <li>Salir jugando con un auto pase, dentro o fuera de su área.</li>
                            <li>Realizar el saque con la mano</li>
                        </ul>
                    </div>
                    <li>Cabe destacar que si el arquero realiza un auto pase y sale jugando, este tiene 4" para pasarle
                        el
                        balón a un compañero o pasar mitad de cancha con pelota dominada.</li>
                    <li>El arquero en su campo podrá tocar el balón "una sola vez" al menos que este, pase mitad de
                        cancha o
                        toque un rival.</li>
                </ul>
                <h6 id="other-points">OTROS PUNTOS:</h6>
                <ul>
                    <li>Cambios Ilimitados</li>
                    <li>Camisetas iguales enumeradas obligatorio</li>
                    <li>Pantalón corto y medias (jugadores de campo), pantalon largo sólo permitido para el arquero, el
                        no
                        cumplimiento será penado con tarjeta Amarilla "administrativa", acumulable pero no computable
                        para el
                        encuentro a disputar, idem x camisetas distintas o sin enumeración diferentes.</li>
                </ul>
            </div>
        </section>
        <section class="sanctions">
            <h5>SANCIONES ARBITRALES:</h5>
            <div>
                <ul>
                    <li>Tarjeta AMARILLA</li>
                    <li>Tarjeta AZUL (cambio obligatorio inmediato - equivale a computo de Doble Amarilla).</li>
                    <li>Tarjeta ROJA (expulsión con sanción de 1 o 2 fechas mínimo) juego brusco intencional y/o
                        violento.
                        (A Criterio del Juez con especificación "clara y precisa de la organización" de castigo al juego
                        o golpe
                        desleal, sin excepción o contemplación alguna).</li>
                </ul>
            </div>

            <h5>SANCIONES ADMINISTRATIVAS:</h5>
            <div>
                <ul>
                    <li>Acumulación de 5 (CINCO) Amarillas se cumple 1 fecha de sanción, inmediata x fixture.</li>
                    <li>NO PRESENTACION A JUGAR reiterada x segunda vez queda expulsado del torneo, un año de sanción
                        para
                        todos los integrantes del plantel. (A confirmar con delegados!)</li>
                    <li>Incumplimiento administrativo en el pago x parti/economico (Amarilla al Delegado y quita de 1
                        (uno)
                        puntos.
                        (A confirmar con delegados!).</li>
                </ul>
        </section>
        <section class="modifications">
            <h6>Modificaciones:</h6>
            <ul>
                <li>"los jugadores de campo podran recibir el balon dentro de la misma area, de parte de su arquero"
                </li>
                <li>se podrá ir al piso solo a bloquear un remate, a distancia mínima de 2 metros, sin generar "en
                    ningún
                    momento" disputar el balón, solo obstruirlo.</li>
                <li>Se suguire o recomienda uso de canilleras, la no utilización será a criterio o responsabilidad
                    de c/u
                    de los jugadores.</li>
                <li>Abstenerse de concurrir a jugar al colegio, de tener síntomas de covid o haberlo padecido, sin
                    control
                    médico que les brinde el apto y/o tranquilidad para hacerlo.</li>
                <li>Distancia de barrera seran 5 metros, distancia del lateral 3 metros (debe permitirse el jugar),
                    será
                    inflexible el cumplimiento de la distancia , el no respetarse deberán amonestar.</li>
                <li>El arquero puede lanzar con la mano superando la mitad de la cancha o arrojarla al suelo y
                    patear al
                    arco rival, NO se puede volear!!</li>
            </ul>
            </div>
        </section>
    </main>
    <footer>Copyright LM5</footer>
</body>

</html>