.titulo {
  font-size: 30px;
  text-align: center;
  padding: 15px 0 20px 0;
  margin: 50px auto 10px auto;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.tabla {
  width: 95%;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--secondary);
}

.database{
  display: grid;
  grid-template-columns: repeat(10,55px);
  grid-template-rows: repeat(1,50px);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--dark);
  background-color: var(--light);
}

.team {
  display: grid;
  grid-template-columns: repeat(10,55px);
  grid-template-rows: repeat(1,50px);
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--dark);
  color: var(--light);
}

