.fecha{
   height: 60%;
   align-items: start;
}

h4{
  display: flex;
  align-items: start;
  margin: 15px;
  font-size: 24px;
}

.fecha span{
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
}/**/

.fecha-results{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.fecha-results input{
  width: 20px;
  height: 20px;
}

.fecha-results .gol{
  width: 27px;
  height: 20px;
}

.data{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
}

.data-teams{
  display: flex;
  flex-direction: row;
}

.results{
  width: 100%;
  margin: auto;
}

.partidos{
   margin: 8px;
}

.equipo,.results{
    text-align: center;
}

.team{
  font-size: 18px;
}

.team-goals{
   text-align: center;
   font-weight: bold;
}

.fecha-results .edit-results{
  width: 100px;
  height: 25px;
  background-color: var(--light);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.boton-result{
  display: flex;
  align-items: flex-end;
}

input{
   margin: 5px
}

.tittle{
  font-size: 20px;
}

.statics{
  margin: 10px;
}

.statics table th{
  border: 1px solid var(--dark)
}

.result{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }*/